.contact {
  margin-bottom: 20px;
  .map-google {
    position: relative;
    height: 500px;
    top: -8px;
  }
  .contact-form-text {
    h3 {
      margin-top: 50px;
    }
    p {
      margin: 30px 0;
    }
  }
  .contact-info-text {
    h3 {
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .wrapper {
      margin: 20px 0;
    }
    p {
      margin-bottom: 0;
    }
    td {
      font-size: 14px;
      padding-right: 40px;
    }
    tbody {
      width: 100%;
      display: table;
    }
    .green a {
      color: #2ecc71;
    }
  }
  .contac-form {
    margin-bottom: 50px;

    input {
      padding: 10px;
      width: 350px;
      height: 45px;
      margin: 10px 0;
      outline: none;
      display: flex;
      flex-direction: column;
    }
    textarea {
      width: 560px;
      height: 220px;
      padding: 10px;
      margin: 10px 0;
      outline: none;
      display: flex;
      flex-direction: column;
    }
    span {
      outline: none;
    }
    .createAccount {
      button {
      }
    }
    .errorMessage {
      color: red;
      font-size: 12px;
      display: relative;
    }
    input.error,
    textarea.error {
      border: 1px solid red;
    }
  }
  @media only screen and (max-width: 580px) {
    .contac-form {
      textarea {
        width: 100%;
        height: 150px;
      }
    }
  }
}
